In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
s

a    0.017070
b   -0.010230
c   -0.603341
d    0.030384
e   -1.287312
dtype: float64

In [3]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [4]:
pd.Series(np.random.randn(5))

0    0.246248
1    0.308259
2   -0.862580
3   -1.671484
4    0.062895
dtype: float64

In [5]:
d = {'b': 1, 'a': 0, 'c': 2}
pd.Series(d)

b    1
a    0
c    2
dtype: int64

In [6]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [7]:
print(pd.Series(5., index=['a', 'b', 'c', 'd', 'e']))

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [8]:
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),\
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [9]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [10]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [11]:
print(df.index)
print(df.columns)

Index(['a', 'b', 'c', 'd'], dtype='object')
Index(['one', 'two'], dtype='object')

In [12]:
d = {'one': [1., 2., 3., 4.],'two': [4., 3., 2., 1.]}
pd.DataFrame(d)

   one  two
0  1.0  4.0
1  2.0  3.0
2  3.0  2.0
3  4.0  1.0

In [13]:
pd.DataFrame(d, index=['a', 'b', 'c', 'd'])

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [14]:
data = np.zeros((2, ), dtype=[('A', 'i4'), ('B', 'f4'), ('C', 'a10')])
data

array([(0, 0., b''), (0, 0., b'')],
      dtype=[('A', '<i4'), ('B', '<f4'), ('C', 'S10')])

In [15]:
data[:] = [(1, 2., 'Hello'), (2, 3., "World")]
pd.DataFrame(data)

   A    B         C
0  1  2.0  b'Hello'
1  2  3.0  b'World'

In [16]:
pd.DataFrame(data, index=['first', 'second'])

        A    B         C
first   1  2.0  b'Hello'
second  2  3.0  b'World'

In [17]:
pd.DataFrame(data, columns=['C', 'A', 'B'])

          C  A    B
0  b'Hello'  1  2.0
1  b'World'  2  3.0

In [18]:
data2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
pd.DataFrame(data2)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [19]:
pd.DataFrame(data2, index=['first', 'second'])

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [20]:
pd.DataFrame(data2, columns=['a', 'b'])

   a   b
0  1   2
1  5  10

In [21]:
p=pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},\
                ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4}, \
                ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6}, \
                ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8}, \
                ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})
p

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0

In [22]:
s = pd.Series(np.random.randn(5), index=['a', 'b', 'c', 'd', 'e'])
p=pd.DataFrame(s)
p

          0
a  0.622741
b -0.259663
c -1.112973
d -1.814960
e -0.400947