In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5, 4))
df

          0         1         2         3
0 -1.216687 -0.234862 -0.555999 -0.520713
1 -0.935226 -0.040671  0.617612  0.843391
2 -0.943767 -0.531174 -2.298210  0.003479
3  0.801837  0.354725  0.155005  0.043242
4  1.305954  1.323548 -0.576060 -0.470523

In [3]:
df.describe()

              0         1         2         3
count  5.000000  5.000000  5.000000  5.000000
mean  -0.197578  0.174313 -0.531531 -0.020225
std    1.161781  0.718443  1.108557  0.548562
min   -1.216687 -0.531174 -2.298210 -0.520713
25%   -0.943767 -0.234862 -0.576060 -0.470523
50%   -0.935226 -0.040671 -0.555999  0.003479
75%    0.801837  0.354725  0.155005  0.043242
max    1.305954  1.323548  0.617612  0.843391

In [4]:
df.sum(axis=1, skipna=False)

0   -2.528260
1    0.485106
2   -3.769672
3    1.354809
4    1.582918
dtype: float64

In [ ]:
df = pd.DataFrame(np.random.randn(5, 4))
df

In [ ]:
#按轴排序
df.sort_index(axis=1, ascending=False)

In [ ]:
#按值排序
df.sort_values(by=1)

In [ ]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar','foo', 'bar', 'foo', 'foo'], 'B': ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],'D': np.random.randn(8)})
df

In [ ]:
#先分组，再用 sum()函数计算每组的汇总数据：
df.groupby('A').sum()

In [ ]:
#多列分组后，生成多层索引，也可以应用sum函数：
df.groupby(['A', 'B']).sum()

In [6]:
df = pd.DataFrame(np.random.randn(5, 4))
df

          0         1         2         3
0 -2.295364  0.141228 -0.924654  0.576558
1  2.310177 -0.853452 -1.058827 -0.234709
2 -0.285898  1.285159 -0.588665 -0.765907
3  1.080905 -0.901237 -2.431574 -0.312963
4 -0.355195  0.127336 -0.059519  2.233999

In [7]:
df.sort_index(axis=1, ascending=False)  #行降序

          3         2         1         0
0  0.576558 -0.924654  0.141228 -2.295364
1 -0.234709 -1.058827 -0.853452  2.310177
2 -0.765907 -0.588665  1.285159 -0.285898
3 -0.312963 -2.431574 -0.901237  1.080905
4  2.233999 -0.059519  0.127336 -0.355195

In [8]:
df.sort_index(axis=0, ascending=False)  #索引降序

          0         1         2         3
4 -0.355195  0.127336 -0.059519  2.233999
3  1.080905 -0.901237 -2.431574 -0.312963
2 -0.285898  1.285159 -0.588665 -0.765907
1  2.310177 -0.853452 -1.058827 -0.234709
0 -2.295364  0.141228 -0.924654  0.576558

In [9]:
df.sort_values(by=1) #列1升序

          0         1         2         3
3  1.080905 -0.901237 -2.431574 -0.312963
1  2.310177 -0.853452 -1.058827 -0.234709
4 -0.355195  0.127336 -0.059519  2.233999
0 -2.295364  0.141228 -0.924654  0.576558
2 -0.285898  1.285159 -0.588665 -0.765907

In [16]:
import pandas as pd
import numpy as np
detail = pd.read_csv('./data/meal_order_detail.csv', sep = ',',encoding = 'utf-8')
detailGroup = detail[['order_id','counts','amounts']].groupby(by = 'order_id')
print('分组后的订单详情表为：')
detailGroup

分组后的订单详情表为：

In [17]:
print('订单详情表分组后前5组每组的均值为：') 
detailGroup.mean().head()

订单详情表分组后前5组每组的均值为：

            counts    amounts
order_id
137       1.500000  32.333333
162       1.200000  68.800000
163       2.000000  36.400000
165       1.166667  52.944444
166       1.400000  48.200000

In [18]:
print('订单详情表分组后前5组每组的标准差为：') 
detailGroup.std().head()

订单详情表分组后前5组每组的标准差为：

            counts    amounts
order_id
137       1.224745  35.200379
162       0.414039  62.695637
163       2.236068  37.333631
165       0.383482  52.193613
166       0.547723  41.829415

In [19]:
print('订单详情表分组后前5组每组的大小为：') 
detailGroup.size().head()

订单详情表分组后前5组每组的大小为：

order_id
137     6
162    15
163     5
165    18
166     5
dtype: int64

In [21]:
detail[['counts','amounts']].agg([np.sum,np.mean])

            counts        amounts
sum   11126.000000  449872.000000
mean      1.108499      44.821361

In [22]:
detail.agg({'counts':np.sum,'amounts':np.mean})

counts     11126.000000
amounts       44.821361
dtype: float64

In [23]:
detail.agg({'counts':np.sum,'amounts':[np.mean,np.sum]})

       counts        amounts
sum   11126.0  449872.000000
mean      NaN      44.821361

In [24]:
##自定义函数求两倍的和
def DoubleSum(data):
    s = data.sum()*2
    return s

detail.agg({'counts':DoubleSum},axis = 0)

counts    22252
dtype: int64

In [25]:
##自定义函数求两倍的和
def DoubleSum1(data):
    s = np.sum(data)*2
    return s

detail.agg({'counts':DoubleSum1},axis = 0).head()

   counts
0       2
1       2
2       2
3       2
4       8

In [26]:
detail[['counts','amounts']].agg(DoubleSum1)

counts      22252
amounts    899744
dtype: int64

In [27]:
detailGroup.agg(np.mean).head(3)

          counts    amounts
order_id
137          1.5  32.333333
162          1.2  68.800000
163          2.0  36.400000

In [28]:
detailGroup.agg(np.std).head(3)

            counts    amounts
order_id
137       1.224745  35.200379
162       0.414039  62.695637
163       2.236068  37.333631

In [29]:
detailGroup.agg({'counts':np.sum,'amounts':np.mean}).head(3)

          counts    amounts
order_id
137            9  32.333333
162           18  68.800000
163           10  36.400000

In [30]:
detail[['counts','amounts']].apply(np.mean)

counts      1.108499
amounts    44.821361
dtype: float64

In [31]:
detailGroup.apply(np.mean).head(3)

          order_id  counts    amounts
order_id
137          137.0     1.5  32.333333
162          162.0     1.2  68.800000
163          163.0     2.0  36.400000

In [32]:
detailGroup.apply(np.std).head(3)

          order_id    counts    amounts
order_id
137            0.0  1.118034  32.133402
162            0.0  0.400000  60.569739
163            0.0  2.000000  33.392215

In [34]:
 detail[['counts','amounts']].transform(lambda x:x*2).head(4)

   counts  amounts
0       2      198
1       2       52
2       2       70
3       2       12

In [36]:
detailGroup.transform(lambda x:(x.mean()-x.min())/(x.max()-x.min())).head()

c:\program files\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: invalid value encountered in double_scalars
  """Entry point for launching an IPython kernel.

     counts   amounts
0  0.166667  0.319728
1  0.166667  0.319728
2  0.166667  0.319728
3  0.166667  0.319728
4  0.166667  0.319728