In [1]:
import pandas as pd

In [2]:
data1 = pd.read_csv('./data/1.1/第一次.csv')
data1.head(5)

,ID,标题,店铺名,原价,快递费,快递地区,基本信息,品类
0,567797118294,[山客自养] 绿色有机土鸡蛋 农村散养 20枚装 破蛋包赔,267f241390522d93,56.2,12.0,吉林,包装方式：食用农产品||产地：中国大陆||省份：吉林省||城市：吉林市||枚数：20枚||净...,蛋
1,554095491655,超大蛋3斤鸵鸟蛋新鲜送礼土豪蛋自家养殖破损包赔,d32a9408880d6d3b,175.0,0.0,山东 淄博,包装方式：食用农产品||生鲜储存温度：0-8℃||产地：中国大陆||省份：山东省||城市：淄...,蛋
2,550183128850,天飨村 咕叽咕叽农家散养新鲜纯天然30枚 粉壳土鸡蛋,891d50a4b916c106,55.0,0.0,湖南 长沙,包装方式：食用农产品||同城服务：同城24小时卖家送货上门||售卖方式：组合||是否为有机食...,蛋
3,569390163639,正宗农村农家野外散养土鸡蛋 新鲜草鸡蛋柴笨鸡蛋 富硒土鸡蛋30枚,7a6d2e534db34688,43.8,0.0,安徽 安庆,净含量：1350g||包装方式：食用农产品||枚数：30枚||产地：中国大陆||省份：安徽省...,蛋
4,572170484146,野外散养土鸡蛋农家散养树林柴鸡蛋农村草鸡蛋新鲜当日鸡蛋30枚装,b4c281826b800e11,79.0,0.0,安徽 宣城,包装方式：食用农产品||产地：中国大陆||省份：安徽省||城市：宣城市||枚数：30枚||净...,蛋

In [3]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      18944 non-null  int64
 1   标题      18944 non-null  object
 2   店铺名     18944 non-null  object
 3   原价      18944 non-null  float64
 4   快递费     18944 non-null  float64
 5   快递地区    18944 non-null  object
 6   基本信息    18944 non-null  object
 7   品类      18944 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.2+ MB

In [5]:
data2 = pd.read_csv('./data/1.1/第二次.csv')
data2.head(5)

             ID    活动价   累计评价   月销量       信誉  天猫分数
0  567797118294   56.2   11.0   0.0    816.0   0.0
1  554095491655  178.0  339.0  39.0   8456.0   0.0
2  576944413519   99.0   40.0   0.0     40.0   0.0
3  550183128850   55.0   27.0   5.0   2371.0   0.0
4  569390163639   43.8  181.0  24.0  13464.0   0.0

In [6]:
data2.rename(columns={'活动价':'活动价1', '累计评价':'累计评价1','月销量':'月销量1','信誉':'信誉1','天猫分数':'天猫分数1'}, inplace = True)

In [7]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27999 entries, 0 to 27998
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      27999 non-null  int64
 1   活动价1    27999 non-null  float64
 2   累计评价1   27946 non-null  float64
 3   月销量1    27998 non-null  float64
 4   信誉1     19217 non-null  float64
 5   天猫分数1   27993 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.3 MB

In [8]:
data2.dropna(subset = ['累计评价1','月销量1','天猫分数1'], inplace = True)
data2.reset_index(drop=True,inplace = True)
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27939 entries, 0 to 27938
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      27939 non-null  int64
 1   活动价1    27939 non-null  float64
 2   累计评价1   27939 non-null  float64
 3   月销量1    27939 non-null  float64
 4   信誉1     19158 non-null  float64
 5   天猫分数1   27939 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.3 MB

In [9]:
data3 = pd.read_csv('./data/1.1/第三次.csv')
data3.head(5)

             ID    活动价   累计评价   月销量       信誉  天猫分数
0  567797118294   56.2    9.0   0.0    862.0   0.0
1  554095491655  196.0  321.0  34.0   8728.0   0.0
2  576944413519   79.0   40.0   1.0     40.0   0.0
3  550183128850   55.0   28.0   8.0   2378.0   0.0
4  569390163639   43.8  171.0  10.0  13664.0   0.0

In [10]:
data3.rename(columns={'活动价':'活动价2', '累计评价':'累计评价2','月销量':'月销量2','信誉':'信誉2','天猫分数':'天猫分数2'}, inplace = True)

In [11]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25924 entries, 0 to 25923
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      25924 non-null  int64
 1   活动价2    25924 non-null  float64
 2   累计评价2   25834 non-null  float64
 3   月销量2    25922 non-null  float64
 4   信誉2     17923 non-null  float64
 5   天猫分数2   25924 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.2 MB

In [12]:
data3.dropna(subset = ['累计评价2','月销量2'], inplace = True)
data3.reset_index(drop=True,inplace = True)
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25832 entries, 0 to 25831
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      25832 non-null  int64
 1   活动价2    25832 non-null  float64
 2   累计评价2   25832 non-null  float64
 3   月销量2    25832 non-null  float64
 4   信誉2     17835 non-null  float64
 5   天猫分数2   25832 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.2 MB

In [14]:
data4 = pd.read_csv('./data/1.1/第四次.csv')
data4.head(5)

             ID    活动价   累计评价   月销量       信誉  天猫分数
0  567797118294   56.2    5.0   0.0    914.0   0.0
1  554095491655  300.0  294.0  37.0   9053.0   0.0
2  576944413519   79.0   41.0   5.0     41.0   0.0
3  550183128850   55.0   27.0  11.0   2381.0   0.0
4  569390163639   43.8  142.0  14.0  13738.0   0.0

In [15]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23361 entries, 0 to 23360
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      23361 non-null  int64
 1   活动价     23361 non-null  float64
 2   累计评价    23244 non-null  float64
 3   月销量     23361 non-null  float64
 4   信誉      16591 non-null  float64
 5   天猫分数    23361 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

In [16]:
data4.rename(columns={'活动价':'活动价3', '累计评价':'累计评价3','月销量':'月销量3','信誉':'信誉3','天猫分数':'天猫分数3'}, inplace = True)

In [17]:
data4.dropna(subset = ['累计评价3','月销量3'], inplace = True)
data4.reset_index(drop=True,inplace = True)
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23244 entries, 0 to 23243
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      23244 non-null  int64
 1   活动价3    23244 non-null  float64
 2   累计评价3   23244 non-null  float64
 3   月销量3    23244 non-null  float64
 4   信誉3     16479 non-null  float64
 5   天猫分数3   23244 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

In [18]:
data5 = pd.read_csv('./data/1.1/第五次.csv')
data5.head(5)

             ID    活动价   累计评价   月销量       信誉  天猫分数
0  567797118294   56.2    4.0   0.0    928.0   0.0
1  554095491655  188.0  244.0  59.0   9340.0   0.0
2  576944413519   79.0   41.0   0.0     41.0   0.0
3  550183128850   55.0   17.0   2.0   2383.0   0.0
4  569390163639   43.8  114.0   6.0  13759.0   0.0

In [19]:
data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22769 entries, 0 to 22768
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      22769 non-null  int64
 1   活动价     22769 non-null  float64
 2   累计评价    22653 non-null  float64
 3   月销量     22768 non-null  float64
 4   信誉      16212 non-null  float64
 5   天猫分数    22767 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.0 MB

In [20]:
data5.rename(columns={'活动价':'活动价4', '累计评价':'累计评价4','月销量':'月销量4','信誉':'信誉4','天猫分数':'天猫分数4'}, inplace = True)

In [21]:
data5.dropna(subset = ['累计评价4','月销量4','天猫分数4'], inplace = True)
data5.reset_index(drop=True,inplace = True)
data5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22650 entries, 0 to 22649
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      22650 non-null  int64
 1   活动价4    22650 non-null  float64
 2   累计评价4   22650 non-null  float64
 3   月销量4    22650 non-null  float64
 4   信誉4     16100 non-null  float64
 5   天猫分数4   22650 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.0 MB

In [22]:
data6 = pd.read_csv('./data/1.1/第六次.csv')
data6.head(5)

             ID   活动价    累计评价     月销量         信誉  天猫分数
0   12927784414  0.00   131.0    33.0   721749.0   0.0
1  578382575069  0.00   950.0   242.0      839.0   0.0
2  521252350985  0.27  6224.0  2993.0   780399.0   0.0
3   45021826239  0.27  5287.0  5000.0  1137058.0   0.0
4  557718704000  0.29   764.0  1596.0   169507.0   0.0

In [23]:
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23253 entries, 0 to 23252
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      23253 non-null  int64
 1   活动价     23253 non-null  float64
 2   累计评价    23092 non-null  float64
 3   月销量     23251 non-null  float64
 4   信誉      16510 non-null  float64
 5   天猫分数    23253 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

In [24]:
data6.rename(columns={'活动价':'活动价5', '累计评价':'累计评价5','月销量':'月销量5','信誉':'信誉5','天猫分数':'天猫分数5'}, inplace = True)

In [25]:
data6.dropna(subset = ['累计评价5','月销量5'], inplace = True)
data6.reset_index(drop=True,inplace = True)
data6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23090 entries, 0 to 23089
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      23090 non-null  int64
 1   活动价5    23090 non-null  float64
 2   累计评价5   23090 non-null  float64
 3   月销量5    23090 non-null  float64
 4   信誉5     16356 non-null  float64
 5   天猫分数5   23090 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 1.1 MB

In [26]:
data7 = pd.read_csv('./data/1.1/第七次.csv')
data7.head(5)

             ID    活动价   累计评价    月销量       信誉  天猫分数
0  567797118294   56.2    0.0    0.0    939.0   0.0
1  554095491655  135.0  205.0  158.0   9919.0   0.0
2  550183128850   55.0   12.0    0.0   2385.0   0.0
3  569390163639   43.8   42.0    1.0  13776.0   0.0
4  572170484146   39.5    2.0    0.0  15004.0   0.0

In [27]:
data7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20206 entries, 0 to 20205
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      20206 non-null  int64
 1   活动价     20206 non-null  float64
 2   累计评价    20195 non-null  float64
 3   月销量     20205 non-null  float64
 4   信誉      14795 non-null  float64
 5   天猫分数    20206 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 947.3 KB

In [28]:
data7.rename(columns={'活动价':'活动价6', '累计评价':'累计评价6','月销量':'月销量6','信誉':'信誉6','天猫分数':'天猫分数6'}, inplace = True)

In [29]:
data7.dropna(subset = ['累计评价6','月销量6'], inplace = True)
data7.reset_index(drop=True,inplace = True)
data7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20194 entries, 0 to 20193
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      20194 non-null  int64
 1   活动价6    20194 non-null  float64
 2   累计评价6   20194 non-null  float64
 3   月销量6    20194 non-null  float64
 4   信誉6     14787 non-null  float64
 5   天猫分数6   20194 non-null  float64
dtypes: float64(5), int64(1)
memory usage: 946.7 KB

In [30]:
data1 = pd.merge(data1,data2,on = 'ID')
data1 = pd.merge(data1,data3,on = 'ID')
data1 = pd.merge(data1,data4,on = 'ID')
data1 = pd.merge(data1,data5,on = 'ID')
data1 = pd.merge(data1,data6,on = 'ID')
data1 = pd.merge(data1,data7,on = 'ID')

In [31]:
data1

,ID,标题,店铺名,原价,快递费,快递地区,基本信息,品类,活动价1,累计评价1,...,活动价5,累计评价5,月销量5,信誉5,天猫分数5,活动价6,累计评价6,月销量6,信誉6,天猫分数6
0,567797118294,[山客自养] 绿色有机土鸡蛋 农村散养 20枚装 破蛋包赔,267f241390522d93,56.2,12.0,吉林,包装方式：食用农产品||产地：中国大陆||省份：吉林省||城市：吉林市||枚数：20枚||净...,蛋,56.2,11.0,...,56.2,4.0,0.0,938.0,0.0,56.2,0.0,0.0,939.0,0.0
1,554095491655,超大蛋3斤鸵鸟蛋新鲜送礼土豪蛋自家养殖破损包赔,d32a9408880d6d3b,175.0,0.0,山东 淄博,包装方式：食用农产品||生鲜储存温度：0-8℃||产地：中国大陆||省份：山东省||城市：淄...,蛋,178.0,339.0,...,155.0,232.0,109.0,9541.0,0.0,135.0,205.0,158.0,9919.0,0.0
2,550183128850,天飨村 咕叽咕叽农家散养新鲜纯天然30枚 粉壳土鸡蛋,891d50a4b916c106,55.0,0.0,湖南 长沙,包装方式：食用农产品||同城服务：同城24小时卖家送货上门||售卖方式：组合||是否为有机食...,蛋,55.0,27.0,...,55.0,14.0,1.0,2385.0,0.0,55.0,12.0,0.0,2385.0,0.0
3,569390163639,正宗农村农家野外散养土鸡蛋 新鲜草鸡蛋柴笨鸡蛋 富硒土鸡蛋30枚,7a6d2e534db34688,43.8,0.0,安徽 安庆,净含量：1350g||包装方式：食用农产品||枚数：30枚||产地：中国大陆||省份：安徽省...,蛋,43.8,181.0,...,43.8,76.0,5.0,13770.0,0.0,43.8,42.0,1.0,13776.0,0.0
4,572170484146,野外散养土鸡蛋农家散养树林柴鸡蛋农村草鸡蛋新鲜当日鸡蛋30枚装,b4c281826b800e11,79.0,0.0,安徽 宣城,包装方式：食用农产品||产地：中国大陆||省份：安徽省||城市：宣城市||枚数：30枚||净...,蛋,39.5,4.0,...,39.5,2.0,0.0,13200.0,0.0,39.5,2.0,0.0,15004.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,554122150495,鲜故事 圣女果小黄瓜5斤混装小番茄新鲜樱桃西红柿水果黄瓜小柿子,c5b1541973c2e732,42.0,0.0,山东 潍坊,生产日期：2017年06月23日 至 2017年06月25日||产地：中国大陆||省份：山东...,水果,39.8,10314.0,...,39.8,13094.0,7153.0,NaN,4.8,39.8,15146.0,6182.0,NaN,4.8
18940,565973303002,山东特产莱阳梨当季新鲜时令水果香梨子 烟台贡梨慈梨5斤整箱包邮,2b9b4fb87b0336f8,39.0,0.0,山东 烟台,生产日期：2018年09月21日 至 2018年09月23日||品牌：LAIYANG PEA...,水果,26.8,83.0,...,29.8,219.0,151.0,NaN,4.6,29.8,241.0,98.0,NaN,4.6
18941,580245163878,福建番石榴红心芭乐果混装5斤新鲜水果白心巴乐包邮蕃石榴潘石榴,d409413ea2111090,68.0,0.0,福建 漳州,生产日期：2018年10月19日 至 2018年10月19日||品牌：世纪村||系列：芭乐|...,水果,22.8,415.0,...,24.8,1255.0,377.0,NaN,4.7,24.8,1326.0,223.0,NaN,4.7
18942,544935851035,10斤包邮正宗湖南常德石门秀萍柑橘橘子桔子现摘早熟新鲜皮薄蜜桔,e9a1c946660f5d0a,31.8,0.0,湖南 常德,包装方式：食用农产品||水果种类：其他||产地：中国大陆||省份：湖南省||城市：常德市||...,水果,34.8,634.0,...,45.8,692.0,0.0,800.0,0.0,45.8,411.0,0.0,800.0,0.0
18943,534626465863,欢乐家黄桃罐头256gX6罐新鲜糖水砀山黄桃罐头水果整箱玻璃瓶批发,7b0552767a1a471c,60.0,0.0,湖北 武汉,生产日期：2018年07月30日 至 2018年07月31日||净含量：1536g||包装方...,水果,19.9,11742.0,...,29.9,33154.0,27250.0,NaN,4.8,29.9,37223.0,14391.0,NaN,4.8

In [32]:
data = data1[['ID','品类','标题','店铺名','原价','快递费','快递地区','基本信息','天猫分数1','活动价1','累计评价1','月销量1','信誉1','活动价2','累计评价2','月销量2','信誉2','活动价3','累计评价3','月销量3','信誉3','活动价4','累计评价4','月销量4','信誉4','活动价5','累计评价5','月销量5','信誉5','活动价6','累计评价6','月销量6','信誉6']]

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18944 entries, 0 to 18943
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      18944 non-null  int64
 1   品类      18944 non-null  object
 2   标题      18944 non-null  object
 3   店铺名     18944 non-null  object
 4   原价      18944 non-null  float64
 5   快递费     18944 non-null  float64
 6   快递地区    18944 non-null  object
 7   基本信息    18944 non-null  object
 8   天猫分数1   18944 non-null  float64
 9   活动价1    18944 non-null  float64
 10  累计评价1   18944 non-null  float64
 11  月销量1    18944 non-null  float64
 12  信誉1     13811 non-null  float64
 13  活动价2    18944 non-null  float64
 14  累计评价2   18944 non-null  float64
 15  月销量2    18944 non-null  float64
 16  信誉2     13813 non-null  float64
 17  活动价3    18944 non-null  float64
 18  累计评价3   18944 non-null  float64
 19  月销量3    18944 non-null  float64
 20  信誉3     13817 non-null  float64
 21  活动价4    18944 non-null  float64
 22  累计评价4   18944 non-null  float64
 23  月销量4    18944 non-null  float64
 24  信誉4     13801 non-null  float64
 25  活动价5    18944 non-null  float64
 26  累计评价5   18944 non-null  float64
 27  月销量5    18944 non-null  float64
 28  信誉5     13795 non-null  float64
 29  活动价6    18944 non-null  float64
 30  累计评价6   18944 non-null  float64
 31  月销量6    18944 non-null  float64
 32  信誉6     13817 non-null  float64
dtypes: float64(27), int64(1), object(5)
memory usage: 4.9+ MB

In [34]:
data.rename(columns={'天猫分数1':'是否天猫'}, inplace = True)

C:\Users\lb\AppData\Local\Temp\ipykernel_7432\732637703.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.rename(columns={'天猫分数1':'是否天猫'}, inplace = True)

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18944 entries, 0 to 18943
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      18944 non-null  int64
 1   品类      18944 non-null  object
 2   标题      18944 non-null  object
 3   店铺名     18944 non-null  object
 4   原价      18944 non-null  float64
 5   快递费     18944 non-null  float64
 6   快递地区    18944 non-null  object
 7   基本信息    18944 non-null  object
 8   是否天猫    18944 non-null  float64
 9   活动价1    18944 non-null  float64
 10  累计评价1   18944 non-null  float64
 11  月销量1    18944 non-null  float64
 12  信誉1     13811 non-null  float64
 13  活动价2    18944 non-null  float64
 14  累计评价2   18944 non-null  float64
 15  月销量2    18944 non-null  float64
 16  信誉2     13813 non-null  float64
 17  活动价3    18944 non-null  float64
 18  累计评价3   18944 non-null  float64
 19  月销量3    18944 non-null  float64
 20  信誉3     13817 non-null  float64
 21  活动价4    18944 non-null  float64
 22  累计评价4   18944 non-null  float64
 23  月销量4    18944 non-null  float64
 24  信誉4     13801 non-null  float64
 25  活动价5    18944 non-null  float64
 26  累计评价5   18944 non-null  float64
 27  月销量5    18944 non-null  float64
 28  信誉5     13795 non-null  float64
 29  活动价6    18944 non-null  float64
 30  累计评价6   18944 non-null  float64
 31  月销量6    18944 non-null  float64
 32  信誉6     13817 non-null  float64
dtypes: float64(27), int64(1), object(5)
memory usage: 4.9+ MB

In [36]:
for i in range(len(data)):
    if data['是否天猫'][i]>0:
        data['是否天猫'][i] = 1

C:\Users\lb\AppData\Local\Temp\ipykernel_7432\1975792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['是否天猫'][i] = 1

In [37]:
data['是否天猫'] = data['是否天猫'].astype(int)

C:\Users\lb\AppData\Local\Temp\ipykernel_7432\3364836188.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['是否天猫'] = data['是否天猫'].astype(int)

In [38]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18944 entries, 0 to 18943
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      18944 non-null  int64
 1   品类      18944 non-null  object
 2   标题      18944 non-null  object
 3   店铺名     18944 non-null  object
 4   原价      18944 non-null  float64
 5   快递费     18944 non-null  float64
 6   快递地区    18944 non-null  object
 7   基本信息    18944 non-null  object
 8   是否天猫    18944 non-null  int32
 9   活动价1    18944 non-null  float64
 10  累计评价1   18944 non-null  float64
 11  月销量1    18944 non-null  float64
 12  信誉1     13811 non-null  float64
 13  活动价2    18944 non-null  float64
 14  累计评价2   18944 non-null  float64
 15  月销量2    18944 non-null  float64
 16  信誉2     13813 non-null  float64
 17  活动价3    18944 non-null  float64
 18  累计评价3   18944 non-null  float64
 19  月销量3    18944 non-null  float64
 20  信誉3     13817 non-null  float64
 21  活动价4    18944 non-null  float64
 22  累计评价4   18944 non-null  float64
 23  月销量4    18944 non-null  float64
 24  信誉4     13801 non-null  float64
 25  活动价5    18944 non-null  float64
 26  累计评价5   18944 non-null  float64
 27  月销量5    18944 non-null  float64
 28  信誉5     13795 non-null  float64
 29  活动价6    18944 non-null  float64
 30  累计评价6   18944 non-null  float64
 31  月销量6    18944 non-null  float64
 32  信誉6     13817 non-null  float64
dtypes: float64(26), int32(1), int64(1), object(5)
memory usage: 5.3+ MB

In [39]:
data.loc[data['是否天猫']==1,'信誉1'] = -1
data.loc[data['是否天猫']==1,'信誉2'] = -1
data.loc[data['是否天猫']==1,'信誉3'] = -1
data.loc[data['是否天猫']==1,'信誉4'] = -1
data.loc[data['是否天猫']==1,'信誉5'] = -1
data.loc[data['是否天猫']==1,'信誉6'] = -1

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18944 entries, 0 to 18943
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      18944 non-null  int64
 1   品类      18944 non-null  object
 2   标题      18944 non-null  object
 3   店铺名     18944 non-null  object
 4   原价      18944 non-null  float64
 5   快递费     18944 non-null  float64
 6   快递地区    18944 non-null  object
 7   基本信息    18944 non-null  object
 8   是否天猫    18944 non-null  int32
 9   活动价1    18944 non-null  float64
 10  累计评价1   18944 non-null  float64
 11  月销量1    18944 non-null  float64
 12  信誉1     18940 non-null  float64
 13  活动价2    18944 non-null  float64
 14  累计评价2   18944 non-null  float64
 15  月销量2    18944 non-null  float64
 16  信誉2     18941 non-null  float64
 17  活动价3    18944 non-null  float64
 18  累计评价3   18944 non-null  float64
 19  月销量3    18944 non-null  float64
 20  信誉3     18944 non-null  float64
 21  活动价4    18944 non-null  float64
 22  累计评价4   18944 non-null  float64
 23  月销量4    18944 non-null  float64
 24  信誉4     18928 non-null  float64
 25  活动价5    18944 non-null  float64
 26  累计评价5   18944 non-null  float64
 27  月销量5    18944 non-null  float64
 28  信誉5     18922 non-null  float64
 29  活动价6    18944 non-null  float64
 30  累计评价6   18944 non-null  float64
 31  月销量6    18944 non-null  float64
 32  信誉6     18944 non-null  float64
dtypes: float64(26), int32(1), int64(1), object(5)
memory usage: 5.3+ MB

In [41]:
data.dropna(subset = ['信誉1','信誉2','信誉4','信誉5'], inplace = True)
data.reset_index(drop=True,inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18899 entries, 0 to 18898
Data columns (total 33 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      18899 non-null  int64
 1   品类      18899 non-null  object
 2   标题      18899 non-null  object
 3   店铺名     18899 non-null  object
 4   原价      18899 non-null  float64
 5   快递费     18899 non-null  float64
 6   快递地区    18899 non-null  object
 7   基本信息    18899 non-null  object
 8   是否天猫    18899 non-null  int32
 9   活动价1    18899 non-null  float64
 10  累计评价1   18899 non-null  float64
 11  月销量1    18899 non-null  float64
 12  信誉1     18899 non-null  float64
 13  活动价2    18899 non-null  float64
 14  累计评价2   18899 non-null  float64
 15  月销量2    18899 non-null  float64
 16  信誉2     18899 non-null  float64
 17  活动价3    18899 non-null  float64
 18  累计评价3   18899 non-null  float64
 19  月销量3    18899 non-null  float64
 20  信誉3     18899 non-null  float64
 21  活动价4    18899 non-null  float64
 22  累计评价4   18899 non-null  float64
 23  月销量4    18899 non-null  float64
 24  信誉4     18899 non-null  float64
 25  活动价5    18899 non-null  float64
 26  累计评价5   18899 non-null  float64
 27  月销量5    18899 non-null  float64
 28  信誉5     18899 non-null  float64
 29  活动价6    18899 non-null  float64
 30  累计评价6   18899 non-null  float64
 31  月销量6    18899 non-null  float64
 32  信誉6     18899 non-null  float64
dtypes: float64(26), int32(1), int64(1), object(5)
memory usage: 4.7+ MB

C:\Users\lb\AppData\Local\Temp\ipykernel_7432\1498320655.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(subset = ['信誉1','信誉2','信誉4','信誉5'], inplace = True)

In [42]:
data.to_csv('./data/1.1/data.csv',header=True,index=False)

In [43]:
data

,ID,品类,标题,店铺名,原价,快递费,快递地区,基本信息,是否天猫,活动价1,...,月销量4,信誉4,活动价5,累计评价5,月销量5,信誉5,活动价6,累计评价6,月销量6,信誉6
0,567797118294,蛋,[山客自养] 绿色有机土鸡蛋 农村散养 20枚装 破蛋包赔,267f241390522d93,56.2,12.0,吉林,包装方式：食用农产品||产地：中国大陆||省份：吉林省||城市：吉林市||枚数：20枚||净...,0,56.2,...,0.0,928.0,56.2,4.0,0.0,938.0,56.2,0.0,0.0,939.0
1,554095491655,蛋,超大蛋3斤鸵鸟蛋新鲜送礼土豪蛋自家养殖破损包赔,d32a9408880d6d3b,175.0,0.0,山东 淄博,包装方式：食用农产品||生鲜储存温度：0-8℃||产地：中国大陆||省份：山东省||城市：淄...,0,178.0,...,59.0,9340.0,155.0,232.0,109.0,9541.0,135.0,205.0,158.0,9919.0
2,550183128850,蛋,天飨村 咕叽咕叽农家散养新鲜纯天然30枚 粉壳土鸡蛋,891d50a4b916c106,55.0,0.0,湖南 长沙,包装方式：食用农产品||同城服务：同城24小时卖家送货上门||售卖方式：组合||是否为有机食...,0,55.0,...,2.0,2383.0,55.0,14.0,1.0,2385.0,55.0,12.0,0.0,2385.0
3,569390163639,蛋,正宗农村农家野外散养土鸡蛋 新鲜草鸡蛋柴笨鸡蛋 富硒土鸡蛋30枚,7a6d2e534db34688,43.8,0.0,安徽 安庆,净含量：1350g||包装方式：食用农产品||枚数：30枚||产地：中国大陆||省份：安徽省...,0,43.8,...,6.0,13759.0,43.8,76.0,5.0,13770.0,43.8,42.0,1.0,13776.0
4,572170484146,蛋,野外散养土鸡蛋农家散养树林柴鸡蛋农村草鸡蛋新鲜当日鸡蛋30枚装,b4c281826b800e11,79.0,0.0,安徽 宣城,包装方式：食用农产品||产地：中国大陆||省份：安徽省||城市：宣城市||枚数：30枚||净...,0,39.5,...,0.0,12088.0,39.5,2.0,0.0,13200.0,39.5,2.0,0.0,15004.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18894,554122150495,水果,鲜故事 圣女果小黄瓜5斤混装小番茄新鲜樱桃西红柿水果黄瓜小柿子,c5b1541973c2e732,42.0,0.0,山东 潍坊,生产日期：2017年06月23日 至 2017年06月25日||产地：中国大陆||省份：山东...,1,39.8,...,2283.0,-1.0,39.8,13094.0,7153.0,-1.0,39.8,15146.0,6182.0,-1.0
18895,565973303002,水果,山东特产莱阳梨当季新鲜时令水果香梨子 烟台贡梨慈梨5斤整箱包邮,2b9b4fb87b0336f8,39.0,0.0,山东 烟台,生产日期：2018年09月21日 至 2018年09月23日||品牌：LAIYANG PEA...,1,26.8,...,129.0,-1.0,29.8,219.0,151.0,-1.0,29.8,241.0,98.0,-1.0
18896,580245163878,水果,福建番石榴红心芭乐果混装5斤新鲜水果白心巴乐包邮蕃石榴潘石榴,d409413ea2111090,68.0,0.0,福建 漳州,生产日期：2018年10月19日 至 2018年10月19日||品牌：世纪村||系列：芭乐|...,1,22.8,...,438.0,-1.0,24.8,1255.0,377.0,-1.0,24.8,1326.0,223.0,-1.0
18897,544935851035,水果,10斤包邮正宗湖南常德石门秀萍柑橘橘子桔子现摘早熟新鲜皮薄蜜桔,e9a1c946660f5d0a,31.8,0.0,湖南 常德,包装方式：食用农产品||水果种类：其他||产地：中国大陆||省份：湖南省||城市：常德市||...,0,34.8,...,0.0,800.0,45.8,692.0,0.0,800.0,45.8,411.0,0.0,800.0
18898,534626465863,水果,欢乐家黄桃罐头256gX6罐新鲜糖水砀山黄桃罐头水果整箱玻璃瓶批发,7b0552767a1a471c,60.0,0.0,湖北 武汉,生产日期：2018年07月30日 至 2018年07月31日||净含量：1536g||包装方...,1,19.9,...,18075.0,-1.0,29.9,33154.0,27250.0,-1.0,29.9,37223.0,14391.0,-1.0